# Emissions Data Clean-Up

### Introduction

This notebook is dedicated to cleaning up the emissions data. The objective is to clean up the data to prepare it for further analysis or modeling.

To start, the necessary libraries will be imported, and the dataset will be loaded. Subsequently, a variety of data cleaning tasks will be undertaken, including removing unnecessary columns, managing missing values, and adjusting the data as required.

### Imports

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

### Reading the Dataset

In [2]:
# Read the data from the excel file
df = pd.read_excel('./data/LAEI2013_MajorRoads_EmissionsbyLink_2013.xlsx')

### Removing Unnecessary Columns

In [3]:
# Following the identified use cases, the specified columns are dropped as they are unnecessary for further processing.
df = df.drop(columns=['GridId', 'Toid', 'GRID_ExactCut_ID', 'Location_ExactCut', 'Lts', 'Emissions', 'Year', 'Emissions Unit', 'Motorcycle', 'Taxi', 'Car', 'BusAndCoach', 'Lgv', 'Rigid', 'Artic', 'Rigid2Axle', 'Rigid3Axle', 'Rigid4Axle', 'Artic3Axle', 'Artic5Axle', 'Artic6Axle', 'LtBus', 'Coach'])

### Saving the File With Required Columns Only

In [4]:
# To work with a lighter file after removing columns, it has chosen to save it to a CSV format.
df.to_csv('./data/emissions_required_columns_only.csv', index=False)

### Reading the Light Dataset

In [5]:
# The file is read again to start the data cleaning process.
pd.read_csv('./data/emissions_required_columns_only.csv')

,BoroughName_ExactCut,Length (m),Pollutant,PetrolCar,DieselCar,PetrolLgv,DieselLgv,ElectricCar,ElectricLgv
0,NonGLA,50.761449,CO2,8.761443,4.810774,3.755001e-02,1.735121,0.000000e+00,0.000000e+00
1,NonGLA,28.592125,CO2,0.015535,0.008576,0.000000e+00,0.000000,0.000000e+00,0.000000e+00
2,NonGLA,5.101391,CO2,0.939028,0.518684,4.055499e-03,0.184415,0.000000e+00,0.000000e+00
3,NonGLA,3.757501,CO2,0.691654,0.382044,2.987135e-03,0.135834,0.000000e+00,0.000000e+00
4,NonGLA,1.624593,CO2,0.299044,0.165180,1.291517e-03,0.058729,0.000000e+00,0.000000e+00
...,...,...,...,...,...,...,...,...,...
366215,NonGLA,68.300121,PM25_Tyre,0.000067,0.000040,3.705429e-07,0.000019,3.550464e-08,1.065791e-08
366216,NonGLA,18.361482,PM25_Tyre,0.000017,0.000010,9.540952e-08,0.000005,9.141400e-09,2.744261e-09
366217,NonGLA,150.698967,PM25_Tyre,0.001136,0.000674,6.210160e-06,0.000312,6.021130e-07,1.786226e-07
366218,NonGLA,27.459057,PM25_Tyre,0.000207,0.000123,1.131561e-06,0.000057,1.097118e-07,3.254706e-08
366219,NonGLA,27.432124,PM25_Tyre,0.000207,0.000123,1.130452e-06,0.000057,1.096042e-07,3.251514e-08

### Checking Data Types

In [6]:
# The data types of the columns are checked to ensure that they are correct.
df.dtypes

BoroughName_ExactCut     object
Length (m)              float64
Pollutant                object
PetrolCar               float64
DieselCar               float64
PetrolLgv               float64
DieselLgv               float64
ElectricCar             float64
ElectricLgv             float64
dtype: object

### Statistics

In [7]:
# The first 5 rows of the data are displayed to understand the structure of the data.
df.head()

,BoroughName_ExactCut,Length (m),Pollutant,PetrolCar,DieselCar,PetrolLgv,DieselLgv,ElectricCar,ElectricLgv
0,NonGLA,50.761449,CO2,8.761443,4.810774,0.037550,1.735121,0.0,0.0
1,NonGLA,28.592125,CO2,0.015535,0.008576,0.000000,0.000000,0.0,0.0
2,NonGLA,5.101391,CO2,0.939028,0.518684,0.004055,0.184415,0.0,0.0
3,NonGLA,3.757501,CO2,0.691654,0.382044,0.002987,0.135834,0.0,0.0
4,NonGLA,1.624593,CO2,0.299044,0.165180,0.001292,0.058729,0.0,0.0

In [8]:
# The last 5 rows of the data are displayed to understand the structure of the data.
df.tail()

,BoroughName_ExactCut,Length (m),Pollutant,PetrolCar,DieselCar,PetrolLgv,DieselLgv,ElectricCar,ElectricLgv
366215,NonGLA,68.300121,PM25_Tyre,0.000067,0.000040,3.705429e-07,0.000019,3.550464e-08,1.065791e-08
366216,NonGLA,18.361482,PM25_Tyre,0.000017,0.000010,9.540952e-08,0.000005,9.141400e-09,2.744261e-09
366217,NonGLA,150.698967,PM25_Tyre,0.001136,0.000674,6.210160e-06,0.000312,6.021130e-07,1.786226e-07
366218,NonGLA,27.459057,PM25_Tyre,0.000207,0.000123,1.131561e-06,0.000057,1.097118e-07,3.254706e-08
366219,NonGLA,27.432124,PM25_Tyre,0.000207,0.000123,1.130452e-06,0.000057,1.096042e-07,3.251514e-08

In [9]:
# The dataset is described to understand the structure of the data.
df.describe(include = "all")

,BoroughName_ExactCut,Length (m),Pollutant,PetrolCar,DieselCar,PetrolLgv,DieselLgv,ElectricCar,ElectricLgv
count,366220,366220.000000,366220,366220.000000,366220.000000,3.662200e+05,366220.000000,3.662200e+05,3.662200e+05
unique,34,NaN,10,NaN,NaN,NaN,NaN,NaN,NaN
top,NonGLA,NaN,CO2,NaN,NaN,NaN,NaN,NaN,NaN
freq,65380,NaN,36622,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,64.031413,NaN,1.654603,0.889078,7.520804e-03,0.341721,3.856346e-07,1.118459e-07
std,NaN,82.558372,NaN,10.401972,5.504348,4.737037e-02,2.147964,1.338532e-06,3.970763e-07
min,NaN,0.000000,NaN,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000e+00
25%,NaN,12.764490,NaN,0.000045,0.000061,1.929141e-07,0.000025,0.000000e+00,0.000000e+00
50%,NaN,38.762421,NaN,0.000305,0.000375,1.491517e-06,0.000165,8.533515e-09,1.824275e-09
75%,NaN,82.901466,NaN,0.002219,0.002234,1.266873e-05,0.000984,2.277193e-07,6.339411e-08
max,NaN,1275.112939,NaN,795.252688,393.554682,3.978381e+00,177.378308,8.859117e-05,2.592419e-05

In [10]:
# Loop through each column and print the number of empty cells
for column in df.columns:
    empty_cells_count = (df[column] == 0).sum()
    print(f"{column}: {empty_cells_count}")

BoroughName_ExactCut: 0
Length (m): 3760
Pollutant: 0
PetrolCar: 13740
DieselCar: 13740
PetrolLgv: 17240
DieselLgv: 17240
ElectricCar: 154732
ElectricLgv: 156832

### Data Cleaning

In [11]:
# The following code is used to replace the 0 values in the emission columns 
# with the mean value for that borough and pollutant.

emission_columns = ['PetrolCar', 'DieselCar', 'PetrolLgv', 'DieselLgv', 'ElectricCar', 'ElectricLgv']

# For each emission column, replace 0 values with the mean value for that borough and pollutant
for column in emission_columns:
    # Calculate mean values for each borough and pollutant combination, excluding 0 values
    means = df[df[column] > 0].groupby(['BoroughName_ExactCut', 'Pollutant'])[column].mean()
    
    # Iterate through the multi-index (borough, pollutant) to replace 0s with the calculated mean
    for index, mean_value in means.items():
        borough, pollutant = index
        df.loc[(df['BoroughName_ExactCut'] == borough) 
               & (df['Pollutant'] == pollutant) 
               & (df[column] == 0), column] = mean_value

# Display the first few rows to verify the changes
print(df.head())

  BoroughName_ExactCut  Length (m) Pollutant  PetrolCar  DieselCar  PetrolLgv  \
0               NonGLA   50.761449       CO2   8.761443   4.810774   0.037550
1               NonGLA   28.592125       CO2   0.015535   0.008576   0.087148
2               NonGLA    5.101391       CO2   0.939028   0.518684   0.004055
3               NonGLA    3.757501       CO2   0.691654   0.382044   0.002987
4               NonGLA    1.624593       CO2   0.299044   0.165180   0.001292

   DieselLgv  ElectricCar  ElectricLgv
0   1.735121          0.0          0.0
1   4.000906          0.0          0.0
2   0.184415          0.0          0.0
3   0.135834          0.0          0.0
4   0.058729          0.0          0.0

In [12]:
# The following code is used to replace the 0 values in the length column
# with the mean value for that borough.

length = ['Length (m)']

# For the lenght column, replace 0 values with the mean value for that borough
for column in length:
    # Calculate mean values for each borough, excluding 0 values
    means = df[df[column] > 0].groupby(['BoroughName_ExactCut'])[column].mean()
    
    # Iterate through the borough to replace 0s with the calculated mean
    for index, mean_value in means.items():
        borough = index
        df.loc[(df['BoroughName_ExactCut'] == borough) 
               & (df[column] == 0), column] = mean_value

# Display the first few rows to verify the changes
print(df.head())

  BoroughName_ExactCut  Length (m) Pollutant  PetrolCar  DieselCar  PetrolLgv  \
0               NonGLA   50.761449       CO2   8.761443   4.810774   0.037550
1               NonGLA   28.592125       CO2   0.015535   0.008576   0.087148
2               NonGLA    5.101391       CO2   0.939028   0.518684   0.004055
3               NonGLA    3.757501       CO2   0.691654   0.382044   0.002987
4               NonGLA    1.624593       CO2   0.299044   0.165180   0.001292

   DieselLgv  ElectricCar  ElectricLgv
0   1.735121          0.0          0.0
1   4.000906          0.0          0.0
2   0.184415          0.0          0.0
3   0.135834          0.0          0.0
4   0.058729          0.0          0.0

### Saving the cleaned data to a file

In [13]:
# Splitting the data into training and testing sets
# The size of the testing set is 20% of the total data
# The random state is set to 42 to ensure reproducibility
train_data, test_data = train_test_split(df, test_size=0.2, random_state=999)

# Saving the training data to a new CSV file
train_data.to_csv('./data/emissions_clean_train.csv', index=False)

# Saving the testing data to a new CSV file
test_data.to_csv('./data/emissions_clean_test.csv', index=False)